Source: fm-api
Section: unknown
Priority: extra
Maintainer: Marcela Rosales <marcelarosalesj@gmail.com>
Build-Depends: python-setuptools (>= 0.6b3),
               python-all (>= 2.6.6-3),
               debhelper (>= 7.4.3),
               dh-python

Standards-Version: 3.9.6
Package: fm-api
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: This package contains the fm-api project.
