Source: fm-mgr
Priority: extra
Maintainer: Marcela Rosales <marcela.a.rosales.jimenez@intel.com>
Build-Depends: debhelper (>=9),
               uuid-dev,
               libsystemd-dev,
               fm-common-dev
Standards-Version: 3.9.6

Package: fm-mgr
Architecture: amd64
Pre-Depends: ${misc:Depends},
             ${shlibs:Depends}
Description: This package contains StarlingX fm-mgr project.
