Source: fm-common
Section: unknown
Priority: extra
Maintainer: Marcela Rosales <marcelarosalesj@gmail.com>
Build-Depends: python-setuptools,
               python-all,
               debhelper,
               dh-python,
               python-pip,
               python-wheel,
               python2.7-dev,
               libpq-dev,
               uuid-dev
Standards-Version: 3.9.6
Homepage: <insert the upstream URL, if relevant>

Package: fm-common-dev
Architecture: amd64
Build-Depends: python-setuptools,
               python-all,
               debhelper,
               dh-python,
               python2.7-dev
Description: fm-common.
