#!/usr/bin/make -f

export MAJOR=1
export MINOR=0

%:
	dh $@

override_dh_auto_install:
	make DESTDIR=/build/fm-common-1.0/debian/fm-common-dev \
		BINDIR=/usr/bin \
	    LIBDIR=/usr/lib \
		INCDIR=/usr/include \
		CGCS_DOC_DEPLOY=/opt/deploy/cgcs_doc \
		MAJOR=${MAJOR} MINOR=${MINOR} install
	python setup.py build
	python setup.py bdist_wheel
	python setup.py install --root /build/fm-common-1.0/debian/fm-common-dev --install-data=/usr/share --prefix=/usr
	mkdir -p /build/fm-common-1.0/debian/fm-common-dev/wheels/
	install -m 644 dist/*.whl /build/fm-common-1.0/debian/fm-common-dev/wheels/

