Source: fm-api
Section: unknown
Priority: extra
Maintainer: Marcela Rosales <marcela.a.rosales.jimenez@intel.com>
Build-Depends: python-setuptools,
               python-all,
               debhelper,
               dh-python
Standards-Version: 1.0.0

Package: fm-api
Architecture: all
Depends: ${misc:Depends},
         ${python:Depends}
Description: This package contains the fm-api project.
